.content{
    height: 100%;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:  center;
    
}

.container-xl{
    background-color: white;
    border-radius: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
    gap: 1rem;
    padding: 1rem;
}

.container-xl div{
    height: 70%;
    border-radius: .5rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 1rem;
}

.image-icon{
    background-color: white;
    height: 50%;
    border-radius: .5rem;
}