.container{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    gap: 1rem;
}

form{
    width: 25%;
    padding: 1rem;
}

.card{
    height: 90%;
    border-radius: .5rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 1rem;
}

.image-icon{
    background-color: white;
    border-radius: .5rem;
    width: 50%;
    border: 1px solid grey;
}