<form class="d-flex" role="search" (ngSubmit)="getWeatherByCity()">
  <input class="form-control me-2" type="search" placeholder="Cidade" aria-label="Search" name="cidade"
    [(ngModel)]="cidade" required>
  <button class="btn btn-outline-success" type="submit">Buscar</button>
</form>

<div class="container">
  @if (!weatherData || filteredForecasts.length === 0 ) {<p>Nenhuma previsão encontrada para esta cidade.</p>}
  @if (weatherData && filteredForecasts.length > 0) {
  @for (f of filteredForecasts; track f.data) {
  <div class="card bg-light mb-3" style="max-width: 18rem;">
    <div class="card-body">
      <h2 class="card-title" style="margin-bottom: 1rem;">{{ weatherData.cidade }} {{ f.tempC }}°C</h2>
      <img [src]="f.icon" alt="Icone do céu em {{ weatherData.cidade }} na data {{ f.data }}">
      <p class="card-text" style="max-height: 21%;">{{ f.condicaoCeu }}</p>
      <br>
      <h5 class="card-subtitle">{{ f.data }}</h5>
    </div>
  </div>
  }
  }
</div>