.card{
    height: 70%;
    border-radius: .5rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 1rem;
}

.image-icon{
    background-color: white;
    height: 50%;
    border-radius: .5rem;
    border: 1px solid grey;
}